*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.home input{
  margin: 10px;
  height: 40px;
  width: 400px;
}
.box{
  width: 30px;
  height:30px;
  margin: 8px;
  border: 2px solid black;
  cursor: pointer;
}
section{
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxcontainer{
  display: flex;
  width: 350px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gray{
  background-color: gray;
}
.red{
  background-color: red;
}
p{
  text-align: center;
  font-weight:500;
}
.box2{
  border: 2px solid black;
  border-radius: 5px;
  margin: 7px;
  padding: 5px;
}

